.inputDiv {
    margin-bottom: 40px;

    width: 100%;
    display: inline-flex;
    justify-content: center;

}

/*속성값은 [] 에 넣음. */
input[type=text] {
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

input[readonly] {
    background-color: beige;
}